<!DOCTYPE html>
<html xmlns="http://www.w3,org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Adding factory</title>
<link rel="stylesheet" type="text/css" href="/styleDark.css">
</head>
<body>

	<div class="table-users">
		<div class="header">Add new factory</div>

		<form action="#" th:action="@{/saveFactory}" th:object="${factory}"
			method="post">

			<table cellpadding="0">

					<tr>
						<td>Specialization:</td>
						<td><input type="text" th:field="*{specjalizacja}"></td>
					</tr>
					<tr>
						<td>Surface:</td>
						<td><input type="text" th:field="*{powierzchnia}"></td>
					</tr>
					<tr>
						<td>Assurance no.:</td>
						<td><input type="text" th:field="*{nr_ubezpieczenia}"></td>
					</tr>	
					<tr>
						<td>Manufacturer id:</td>
						<td><input type="text" th:field="*{id_producenta}"></td>
					</tr>	
					<tr>
						<td>Address id:</td>
						<td><input type="text" th:field="*{id_adresu}"></td>
					</tr>			
					<!-- Saving button -->
					<tr>
						<td colspan="2"><button type="submit">Save</button></td>
					</tr>
			</table>
		</form>
	</div>
	<div class="management">
		<div class="sheader">Go back to previous page</div>
		<div id="middle">
			<a href="/factories" class="button">Back</a>
		</div>
	</div>
</body>
</html>